/** @format */
body {
  /* background-color: #87ceeb;*/

  color: coral;
  /* background-image: url(./images/lukas-robertson.jpg);
  background-size: cover;*/
  background: rgb(34, 237, 221);
  background: linear-gradient(
    90deg,
    rgba(34, 237, 221, 1) 35%,
    rgba(27, 232, 228, 1) 48%,
    rgba(24, 230, 231, 1) 54%,
    rgba(22, 228, 233, 1) 58%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searcharea {
  padding: 30px;
}
.searchbutton {
  background-color: coral;
  color: white;
  font-weight: bolder;
}

.container {
  height: 700px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statustext {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.locationtext {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(0, 110, 255);
}
.currenttimetext {
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
}

.temptext {
  font-size: 6rem;
  font-weight: bolder;
  color: white;
}

.humiditytext {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.feelsliketext {
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(0, 110, 255);
}
